form{
    text-align: center;
}
.form-image-1{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-top: -40px;
    background-color: #dadada;
    padding: 5px;
    border-radius: 70px;
    box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.83); 
}
h5{
    padding-top: 10px;
    border-radius: 10px;
    padding-bottom: 25px;
    margin: 0;
    font-size: 16px; 
    font-family: Arial;
    font-weight: 200; 
    cursor: help; 
    color: #000;
}
.group input[type="text"], input[type="phone"]{
    width: 280px; 
    height: 50px; 
    font-size: 13px;
    margin-bottom: 10px; 
    border-radius: 20px; 
    padding-left: 10px;
    background-color: #eee;
    color: #1d1d1d;
    border: none;
    font-weight: 500;
    outline: none;
}
.group input[type="submit"] {
    margin-top: 20px; 
    padding: 15px 50px; 
    border-radius: 9px;
    color: #fff; 
    background-color: #0d84fb; 
    border: none;
    font-size: 14px;
    font-weight: bold;
    outline: none;
}
.group input[type="submit"]:hover{
    transition: 0.2s; 
    background-color: #3297fc;
    box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.83); 
}